* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

/* layout */

html,
body {
    height: 100%;
}

body {
    position: relative;
    background: #313131;
    overflow: hidden;
    width: 100%;
}

.title {
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
}

.title span {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    opacity: 0.7;
    font-style: italic;
    font-size: 16px;
    line-height: 34px;
    height: 34px;
    margin-top:-5px;
}

.title .logo {
    display: inline-block;
    width: 100px;
    height: 34px;
    margin-left: 2px;
    vertical-align: middle;
    text-decoration: none;
}

.title .logo svg {
    width: 100%;
    stroke-dasharray: 100, 100;
    stroke-dashoffset: 70;
    animation: logo-animation 1.5s ease-out;
}

.logo-svg {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

@keyframes logo-animation {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 70;
    }
}